.photogallery {
  background-image: url(../img/bg-back-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 250px;

  &__title {
    margin-top: 0;
    font-size: 24px;
    color: $primary;
    font-weight: 300;
  }
}
