.photo-block {
  background-color: $primary;

  &__description {
    font-size: 14px;
    line-height: 30px;
    color: $dark;
    font-weight: normal;
  }

  &__item-full {
    margin: 0;
    padding: 0;
  }

  &__photo {
    margin-bottom: 0;
  }

  &__photo-full {
    width: 100%;
    position: relative;
  }

  &__button {
    position: absolute;
    left: 270px;
    font-size: 12px;
    line-height: 24px;
    color: $primary;
    font-weight: 700;
    background-color: $lipstick;
    padding-top: 13px;
    padding-bottom: 11px;
    padding-left: 20px;
    padding-right: 21px;
    text-transform: uppercase;
  }

  &__wrapper-full {
    margin-left: 20px;
    margin-right: 20px;
    background-color: $white;
  }

  &__wrapper {
    background-color: $white;
  }

  &__author {
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: $dark;
  }

  &__time {
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: $dark;
    text-transform: uppercase;
  }

  &__comment {
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
    color: $dark;
  }

  &__like {
    font-size: 12px;
    line-height: 24px;
    color: $lipstick;
    text-transform: uppercase;
  }
}
