// Цвета

$primary:#ffffff;
$primary-down: rgba(255, 255, 255, 0.3);
$secondary: #2aab6d;
$viridian: #1c9b5e;
$lipstick: #d22856;
$lipstick-down:rgba(210, 40, 86, 0.3);
$dark: #283645;
$grey: #e5e5e5;
$light-grey: #f2f2f2;
$dark: #283645;
$dark-down: rgba(40, 54, 69, 0.3);
$white: #f2f2f2;
$black: #000000;
$last: rgba(255, 255, 255, 0.15);
